@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-500: #3b82f6;
  --purple-500: #a855f7;
  --green-500: #22c55e;
  --accent-color: var(--blue-500);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --blue-500: #3b82f6;
  --purple-500: #a855f7;
  --green-500: #22c55e;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}